<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ycdev.android.devtools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DevToolsApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <!-- Receivers -->
        <receiver
            android:name=".receivers.PackageChangeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name=".CommonIntentService" />

        <!-- Activities -->
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.DeviceInfoActivity"
            android:label="@string/module_device_info_title"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>

        <activity
            android:name=".device.SystemUtilitiesActivity"
            android:label="@string/module_system_utilities_title"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>
        <activity
            android:name=".device.BluetoothViewerActivity"
            android:label="@string/module_bluetooth_viewer_title"
            android:parentActivityName=".device.SystemUtilitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".device.SystemUtilitiesActivity" />
        </activity>

        <activity
            android:name=".apps.installed.InstalledAppsActivity"
            android:label="@string/module_installed_apps_title"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>
        <activity
            android:name=".device.BroadcastTesterActivity"
            android:label="@string/module_broadcast_tester_title"
            android:theme="@style/AppTheme.WideGridEntries"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>

        <activity
            android:name=".sampler.AppsSamplerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/apps_sampler_module_title"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>
        <service android:name=".sampler.AppsSamplerService" />

        <activity
            android:name=".apps.selector.AppsSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/apps_selector_title" />
        <activity
            android:name=".apps.running.RunningAppsActivity"
            android:label="@string/running_apps_module_title"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>
        <activity
            android:name=".security.SecurityScannerActivity"
            android:label="@string/security_scanner_module_title"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />
        </activity>
        <activity
            android:name=".security.unmarshall.UnmarshallScannerActivity"
            android:label="@string/security_scanner_unmarshall_module_title"
            android:parentActivityName=".security.SecurityScannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".security.SecurityScannerActivity" />
        </activity>
    </application>

</manifest>
